<div class="container mt-5">
  <div class="row productContainer bg-dark rounded p-4">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
          <a href="/productos">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Carrito</li>
      </ol>
    </nav>

    <h2 class="text-light text-uppercase">Compra Exitosa!</h2>
    <p class="text-light">Muchas gracias por su compra, se generó su orden de compra, puede ver el estado en Mis Ordenes</p>
    <a href="/productos" class="btn btn-outline-light">Volver al inicio</a>
  </div>
</div>
